body {
  background: red;
}body {
  margin: 0;
  font-family: Arial;
  background: #0b0b12;
  color: white;
}

.app {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: purple;
}

.icon {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 8px;
}

/* BALANCE */
.balance {
  text-align: center;
  margin: 30px 0;
}

.balance h1 {
  font-size: 42px;
}

.profit {
  color: #00ff88;
}

/* BUTTONS */
.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  flex: 1;
  margin: 5px;
  padding: 14px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(45deg, #6c5ce7, #8e44ad);
  color: white;
  font-weight: bold;
}

/* TOKENS */
.tokens {
  margin-top: 20px;
}

.token {
  background: #1a1a2e;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 10px;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.sol {
  background: linear-gradient(45deg, #00ffa3, #dc1fff);
}

.eth {
  background: gray;
}

.matic {
  background: purple;
}

.green {
  color: #00ff88;
}

/* NAVBAR */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
